*.sdf
*.opensdf
*.suo
*.tlog
*.lastbuildstate
*.log
*.obj
*.idb
*.ilk
*.ipch
*.pdb
*.exe
*.pch
*.tmp
.DS_Store

/Temp/*
/temp/*
/mmedia/appls/u3oko/android/app/src/main/assets/templates/**
/mmedia/appls/u3oko/android/app/src/main/assets/service#0/**
/mmedia/includes/project_config.hpp
/mmedia/appls/uuu_gobj2pe/proj.android-studio/app/*.apk
/mmedia/appls/uuu_gobj2pe/proj.win32/*.opendb
/mmedia/.vs/*
/mmedia/appls/uuu_bench/android/build/*
/mmedia/appls/uuu_bench/android/app/build/*
/mmedia/appls/uuu_bench/android/app/release/*
/mmedia/appls/uuu_bench/android/app/debug/*
/mmedia/appls/uuu_bench/android/app/.externalNativeBuild/*
/boost*/temp/**
/boost*/bin.v2/*
/boost*/libs/**/*.rsp
/mmedia/libso/libjpeg-turbo-master/CMakeFiles/*
/mmedia/out/**
/mmedia/builds/**
/builds*/**
/out/*
u3_externals/**

!*/.gitignore
